.rectangle {
	height: 55px;
	width: 1024px;
	background-color: #1E4F5C;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
}

.logo {
	height: 32px;
	width: 104px;
	color: #FFFFFF;
	font-family: "Work Sans Medium";
	font-size: 27px;
	letter-spacing: 0.7px;
	line-height: 32px;
}

/* .965523228 {
	height: 54px;
	width: 83.05px;
} */

.oval {
	height: 36px;
	width: 36px;
}

.home {
	height: 12px;
	width: 28px;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 10px;
	letter-spacing: 0.21px;
	line-height: 12px;
}

.path {
	height: 20px;
	width: 20px;
}

.lydia-thompson {
	height: 17px;
	width: 106px;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 14px;
	letter-spacing: 0.17px;
	line-height: 17px;
}

.triangle {
	height: 8px;
	width: 8px;
	transform: scaleX(-1) scaleY(-1);
	background-color: #FFFFFF;
}

.group {
	height: 36px;
	width: 36px;
}

.account-icon {
	height: 36px;
	width: 165px;
}

.home-icon {
	height: 36px;
	width: 28px;
}